
*.yaml~
Code/MakeMyPlan/.classpath
Code/MakeMyPlan/.classpath
Code/MakeMyPlan/.factorypath
*.prefs
*.prefs
Code/MakeMyPlan/.settings/org.eclipse.core.resources.prefs
*.prefs

Code/parent-MakeMyPlan/\.idea/

Code/MakeMyPlan/MakeMyPlan\.iml

Code/parent-MakeMyPlan/parent-MakeMyPlan\.iml

\.idea/
/target/

.idea/
*.iml
.DS_Store
target

.project
.classpath
.settings/
.factorypath